:root {
    --primary-color: hsl(4, 90%, 58%);
    --secondary-color: #6c757d;
    --font-color: #343a40;
    --bg-color: #f8f9fa;
    --border-color: #dee2e6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.logo {
    max-height: 60px;
    padding: 0 200px 0 0;
}

.logo-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog {
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid #000000;
    color: #010101;
    border-radius: 20px;
}

.border-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
}

.cart-link img {
    height: 40px;
    margin-right: 5px;
}


.login {
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid #000000;
    color: #010101;
    border-radius: 20px;
}
/*---------------------------------------*/
h1 {
    margin: 10px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 1rem;
    text-align: left;
  }
  
  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .total {
    justify-content: space-between;
    margin: 15px;
    font-size: 1.2rem;
  }
  
  .checkout-button {

    margin: 10px;
    padding: 10px 15px 10px 15px;
    background-color: hsl(4, 67%, 51%);
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: hsl(4, 63%, 44%);
  }
  button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"] img {
    width: 20px;
    height: 20px;
  }
  
  button[type="submit"]:hover img {
    filter: brightness(0) invert(1);
  }
  